@tailwind base;
@tailwind components;
@tailwind utilities;
@reference "tailwindcss";

/* Custom styles for BPMN.js */
.bpmn-canvas {
  height: 100%;
  width: 100%;
}

.bpmn-container {
  position: relative;
  height: 600px;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
}

/* BPMN.js specific styles */
.djs-palette {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.djs-context-pad {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.bjs-powered-by {
  display: none !important;
}

/* Custom button styles */
.btn-primary {
  @apply  text-white font-medium py-1 px-4 rounded-md transition-colors duration-200;
  background-color: #5fbbe4;
}

.btn-secondary {
  @apply font-medium py-1 px-4 rounded-md transition-colors duration-200;
    background: white;
    border: 1px solid #5fbbe4;
    color: #5fbbe4;
}

.btn-success {
  @apply text-white font-medium py-1 px-4 rounded-md transition-colors duration-200;
  background-color: #7f8ecd;
}

.btn-danger {
  @apply bg-red-600 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200;
}

.bio-properties-panel-group-header.empty .bio-properties-panel-add-entry{
    display: flex !important;
    background: #5fbbe4 !important;
}

.bio-properties-panel-group-header.empty .bio-properties-panel-add-entry-label{
    display: block !important;
    color: #ffffff !important;
}
.bio-properties-panel-group-header.empty .bio-properties-panel-add-entry{
    margin-right: 0px !important;
}